* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(212, 212, 212);
}

:root {
	--first-color: rgb(134, 128, 128);
	--second-color: rgb(194, 194, 194);
	--button-color: rgb(250, 133, 24);
}

.color-panel {
	width: 100px;
	height: 200px;
	position: absolute;
	/* background-color: #fff; */
	top: 20px;
	right: -65px;
	border-radius: 10px;

}
.color-panel i {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 25px;
	cursor: pointer;
}
.color-panel .colors {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 150px;
	

}
.color-panel .green,
.color-panel .red,
.color-panel .orange {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.green {
	background-color: rgb(147, 236, 14);
}
.red {
	background-color: red;
}
.orange {
	background-color: orange;
}


.show{
	right: -25px;
	transition: right .3s;
}



.app-body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	min-height: 70vh;
	width: 50%;
	box-shadow: 0 0 20px black;
	border-radius: 10px;
	overflow: hidden;
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	background-image: linear-gradient(
		45deg,
		var(--second-color) 40%,
		var(--first-color) 74%
	);
}

.brush {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: color 0.3s;
}
.brush:hover {
	color: var(--button-color);
}

.header-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	font-size: 36px;
}
.add-input {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 50px;
}
.input {
	padding: 10px 20px;
	width: 70%;
	margin-right: 20px;
	border-radius: 10px;
	border: none;
}
.add-button {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}
.add-button:hover {
	background-color: var(--button-color);
}
.error {
	opacity: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 30px;
	margin-top: 10px;

	color: rgb(199, 61, 61);
}
.edit-error {
	opacity: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 30px;
	margin-top: 10px;

	color: rgb(199, 61, 61);
}

.task-section--title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	text-transform: uppercase;
}
.task-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: var(--second-color);
}
.button-section button {
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	background: none;
	transition: color 0.3s;
}
.button-section button:hover {
	color: var(--button-color);
}

.edid-section {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(63, 65, 78);
	height: 300px;
	width: 60%;
	border-radius: 10px;
	box-shadow: 0 10 20px black;
	z-index: 10;
}
.edit-buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 20px;
	width: 80%;
}

.edit-title {
	text-transform: uppercase;
	margin: 20px;
	padding: 20px;
	font-size: 26px;
	color: #fff;
}
.edit-buttons button {
	height: 40px;
	width: 200px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}
.edit-buttons button:hover {
	background-color: var(--button-color);
}

.edit-input {
	width: 80%;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
}
